<h1>Editing training</h1>

<%= error_messages_for :training %>

<% form_for(@training) do |f| %>
  <p>
    <b>Training type</b><br />
    <%= f.text_field :training_type_id %>
  </p>

  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <b>User trained by</b><br />
    <%= f.text_field :user_trained_by_id %>
  </p>

  <p>
    <b>Note</b><br />
    <%= f.text_area :note %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @training %> |
<%= link_to 'Back', trainings_path %>
