<h1>Editing flight_trials</h1>

<% form_for(@flight_trials) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :flight_log_id %><br />
    <%= f.text_field :flight_log_id %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :target_location %><br />
    <%= f.text_field :target_location %>
  </p>
  <p>
    <%= f.label :distracter_location %><br />
    <%= f.text_field :distracter_location %>
  </p>
  <p>
    <%= f.label :target_height %><br />
    <%= f.text_field :target_height %>
  </p>
  <p>
    <%= f.label :distracter_height %><br />
    <%= f.text_field :distracter_height %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :video_num %><br />
    <%= f.text_field :video_num %>
  </p>
  <p>
    <%= f.label :audio_num %><br />
    <%= f.text_field :audio_num %>
  </p>
  <p>
    <%= f.label :array_num %><br />
    <%= f.text_field :array_num %>
  </p>
  <p>
    <%= f.label :performance %><br />
    <%= f.check_box :performance %>
  </p>
  <p>
    <%= f.label :trial_sequence %><br />
    <%= f.text_field :trial_sequence %>
  </p>
  <p>
    <%= f.label :trial_duration %><br />
    <%= f.text_field :trial_duration %>
  </p>
  <p>
    <%= f.label :ammount_fed %><br />
    <%= f.text_field :ammount_fed %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @flight_trials %> |
<%= link_to 'Back', flight_trials_path %>
