<h1>Listing flight_trials</h1>

<table>
  <tr>
    <th>Flight log</th>
    <th>Time</th>
    <th>Number</th>
    <th>Target location</th>
    <th>Distracter location</th>
    <th>Target height</th>
    <th>Distracter height</th>
    <th>Note</th>
    <th>Video num</th>
    <th>Audio num</th>
    <th>Array num</th>
    <th>Performance</th>
    <th>Trial sequence</th>
    <th>Trial duration</th>
    <th>Ammount fed</th>
  </tr>

<% for flight_trials in @flight_trials %>
  <tr>
    <td><%=h flight_trials.flight_log_id %></td>
    <td><%=h flight_trials.time %></td>
    <td><%=h flight_trials.number %></td>
    <td><%=h flight_trials.target_location %></td>
    <td><%=h flight_trials.distracter_location %></td>
    <td><%=h flight_trials.target_height %></td>
    <td><%=h flight_trials.distracter_height %></td>
    <td><%=h flight_trials.note %></td>
    <td><%=h flight_trials.video_num %></td>
    <td><%=h flight_trials.audio_num %></td>
    <td><%=h flight_trials.array_num %></td>
    <td><%=h flight_trials.performance %></td>
    <td><%=h flight_trials.trial_sequence %></td>
    <td><%=h flight_trials.trial_duration %></td>
    <td><%=h flight_trials.ammount_fed %></td>
    <td><%= link_to 'Show', flight_trials %></td>
    <td><%= link_to 'Edit', edit_flight_trials_path(flight_trials) %></td>
    <td><%= link_to 'Destroy', flight_trials, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New flight_trials', new_flight_trials_path %>
