<div id='surgery'>
  <div style="color:green"><%= flash[:surgery_notice] %></div>

  <% if bat and bat.surgeries.length > 0 %>
    <table>
      <th style="font-size: 10pt">Type</th>
      <th style="font-size: 10pt">Time</th>
      <th style="font-size: 10pt">Notes</th>
      <th style="font-size: 10pt">User</th>
      <% for s in bat.surgeries %>
        <tr>
          <td><%=h s.surgery_type.name %></td>
          <td><%=h nice_date_with_time s.time %></td>
          <td><%=h s.note %></td>
          <td><%= link_to s.user.initials, :controller => :users, :action => :show, :id => s.user %></td>
          <td><%= button_to_remote 'Delete', :url =>
              {:controller => :bats, :action => :clear_surgery, :bat => bat,
              :show_surgery_form=>false, :show_submit_button => show_submit_button, 
              :id => s},
              :update => 'surgery', :confirm => 'Are you sure?' %></td>
        </tr>
      <% end %>

    </table>
  <% else %>
    No surgeries
  <% end %>

  <% if !show_surgery_form %>

    [<%= link_to_remote 'Enter surgery', :url =>
      {:controller => :bats, :action => :show_or_hide_surgery_form, :bat => bat,
      :show_surgery_form=>true, :show_submit_button => show_submit_button},
      :update => 'surgery' %>]

  <% else %>
    <div style="border:dashed;width:500px">
      <% form_remote_tag(:url => {:action => 'remote_save_surgery', :bat => bat,
          :show_submit_button => true},
        :update => 'surgery') do %>

        [<%= link_to_remote 'Clear Form', :url => {:controller => :bats,
          :action => :show_or_hide_surgery_form, :bat => bat,
          :show_surgery_form=>false, :show_submit_button => show_submit_button},
          :update => 'surgery' %>]
        <br />

        <% if SurgeryType.all.length > 0 %>
          <table>
            <th></th>
            <th style="font-size:10pt">Type</th>
            <% for sg_t in SurgeryType.all.sort_by{|st| st.name} %>
              <tr>
                <td><%= radio_button :surgery_type, :id, sg_t.id %></td>
                <td><label for="surgery_type_id_<%= sg_t.id %>"><%= sg_t.name %></label></td>
                <td><%= button_to_remote "Delete",  :url =>
                    {:controller => :bats, :action => :delete_surgery_type, :bat => bat,
                    :show_surgery_form=>true, :show_submit_button => show_submit_button, 
                    :id => sg_t},
                    :update => 'surgery', :confirm => 'Are you sure?' %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          No surgery types.  Add a new surgery type below.
        <% end %>

        <%= render :partial => 'surgery_type_form', :locals => {:bat => bat,
          :show_submit_button => show_submit_button, :show_surgery_type_form => false} %>
        <br />

        <label for="bat_surgery_time">Time: </label>
        <%= datetime_select :surgery, :time %><br />

        <label for="surgery_note">Notes: </label>
        <%= text_field :surgery, :note %><br />

        <% if show_submit_button %>
          <%= submit_tag "Save surgery" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>