

<table style="width:350px; margin-right:auto; margin-left:auto">
<tr>
<td style="text-align: left">
   <% form_remote_tag :url => {:controller => :flights, :action => :remote_show, :id => bat, :this_month => (this_month-1.month)}, :update => "calendar" do %>
	<%= submit_tag "<" %>
   <% end %>
</td>

<td style="text-align: middle">
<% if Date.today.year > this_month.year || Date.today.mon != this_month.mon %>
   <% form_remote_tag :url => {:controller => :flights, :action => :remote_show, :id => bat, :this_month => Date.today}, :update => "calendar" do %>
	<%= submit_tag "Today" %>
   <% end %>
<% end %>
</td>

<td style="text-align: right">
<% if Date.today.year > this_month.year || Date.today.mon > this_month.mon %>
   <% form_remote_tag :url => {:controller => :flights, :action => :remote_show, :id => bat, :this_month => (this_month+1.month)}, :update => "calendar" do %>
	<%= submit_tag ">" %>
   <% end %>
<% end %>
</td>
</tr>
</table>

<%= show_calendar :month => this_month.mon, :year => this_month.year, :highlight_today => false, :highlight_dates => flight_dates %>

<br>

<%= render :partial => 'flights/flights_listing', :locals => { :flights => flights } %>