<h1>Flight logs</h1>

<h2>
<% if @list =="mine" %>
Listing your bats
<% elsif @list == "all" %>
Listing all bats
<% elsif @list == "current" %>
Listing current bats
<% elsif @list == "deactivated" %>
Listing deactivated bats
<% end %>
</h2>

<%= link_to 'List My Bats', :controller => :flights, :action => :list %> | 
<%= link_to 'List Current Bats', :controller => :flights, :action => :list_current %> | 
<%= link_to 'List Deactivated Bats', :controller => :flights, :action => :list_deactivated %> | 
<%= link_to 'List All Bats', :controller => :flights, :action => :list_all %>

<hr>


<div class="left_indent">

<% if @bats.length == 0 %>

No bats.

<% else %>

<div id="bat_list">
<%= render :partial => 'flights/bat_list', :locals => { 
		:bat_list => @bats} %>
</div>
<% end %>

</div>