<h1>Flight logs</h1>

<%= button_to 'New Flight Log', :controller => :flights, :action => :new %>
<%= link_to 'List My Bats', :controller => :flights, :action => :list %> | 
<%= link_to 'List Exempt Bats', :controller => :flights, :action => :list_exempt %> | 
<%= link_to 'List Non-Exempt Bats', :controller => :flights, :action => :list_non_exempt %> | 
<%= link_to 'List Current Bats', :controller => :flights, :action => :list_current %> | 
<%= link_to 'List Deactivated Bats', :controller => :flights, :action => :list_deactivated %> | 
<%= link_to 'List All Bats', :controller => :flights, :action => :list_all %>

<hr>


<div class="left_indent">

<% if @bats.length == 0 %>

No bats.

<% else %>

<div id="bat_list">
<%= render :partial => 'flights/bat_list', :locals => { 
		:bat_list => @bats} %>
</div>
<% end %>

</div>