<% if bats.length > 0 %>

  <p><label for="toggle">Toggle all</label>
    <%= check_box_tag 'toggle' , 'toggle', false, :onclick => "toggleAll('bat_checkbox');return true;"%>
  </p>


  <% for bat in bats %>
    <%=check_box :bat_id, bat.id, :class => 'bat_checkbox' %>

    <label for="bat_id_<%=bat.id %>" >
      <%=h bat.band %>
    </label>
    <br />

    <div class="left_indent">
      <% for p in bat.protocols %>
        <%= link_to p.number, p %><br />
      <% end %>
    </div>

  <% end %>

<% end %>