<h3><i>As specified in the IACUC approved protocol</i></h3>


<% form_for(@protocol) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :summary %> <em>(as succinct as possible)</em><br />
    <%= f.text_area :summary, :rows => 7 %>
  </p>

  <p>
    Data allowed to be collected:<br />
  </p>
  <%= render :partial => 'protocols/data_on_protocol_form', :locals => 
    {:protocol => @protocol, :data => Datum.all, :show_submit => true} %>
  
  <p>
    Surgery types allowed on protocol:
  </p>
    <%= render :partial => 'protocols/surgeries_on_protocol_form', :locals => 
    {:protocol => @protocol, :surgery_types => SurgeryType.all, :show_submit => true} %>
  
  
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :end_year=> Time.now.year %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <em>[[3 years after start date]]</em>
  </p>

  <p>
    Allowed on protocol:<br />
  </p>
  <table>
    <th></th>
    <th style="font-size: 10pt">Current</th>
    <th style="font-size: 10pt">Used</th>
    <th style="font-size: 10pt">Allowed</th>
    <th style="font-size: 10pt" title="Number of bas used when email notifications go out">Email at</th>
    <% f.fields_for :allowed_bats do |ab_form| %>
      <tr>
        <td><i><%= ab_form.object.species.name %></i></td>
        <td style="text-align: center"><%= Bat.on_species(@protocol.bats,ab_form.object.species).length %></td>
        <td style="text-align: center"><%= Bat.on_species(@protocol.all_past_bats,ab_form.object.species).length %></td>
        <td style="text-align: center">
          <%= ab_form.text_field :number, :value => @protocol.determine_allowed_bats(ab_form.object.species), :size=>2 %>
          <%= observe_field "protocol_allowed_bats_attributes_" + ab_form.object_name[-2].chr + "_number", 
            :method=>:get, :frequency=> 0.25, :with=>'number',
            :update=> "warning_limit" + ab_form.object_name,
            :url=> {:controller=>:protocols, :action=>:edit_warning_limit, :id=> -1, :attribute_number=> ab_form.object_name[-2].chr} %>
        </td>
        <td style="text-align: center" id="<%= "warning_limit" + ab_form.object_name %>">
          <%= render :partial=>'edit_warning_limit', 
            :locals=>{:attribute_number=>ab_form.object_name[-2].chr,:limit_value=>ab_form.object.warning_limit} %>
        </td>
        <%= ab_form.text_field :species_id, :value => ab_form.object.species.id, :hidden => true %>
      </tr>
    <% end %>
  </table>
  
  <p>
    Users on protocol:
  </p>
  <div class="left_indent">
    <%= render :partial => 'protocols/users_on_protocol_form', :locals =>{:protocol => @protocol, :users => User.current} %>
  </div>


  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>