<% form_for(@protocol) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :summary %> <em>(as succinct as possible)</em><br />
    <%= f.text_area :summary, :rows => 7 %>
  </p>

  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :end_year=> Time.now.year %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <em>[[3 years after start date]]</em>
  </p>
  <p>
    <%= f.check_box :flight_exempt %>
    <%= f.label :flight_exempt, "Exempt from flight (<em>e.g.</em> surgery protocol)" %>
  </p>

  <p>
    Number of bats allowed on protocol:<br />
    <i><b>specified in the IACUC approved protocol</b></i>
  </p>
  <div class="left_indent">
    <table>
      <% f.fields_for :allowed_bats do |ab_form| %>
        <tr>
          <td><i><%= ab_form.object.species.name %></i></td>
          <td><%= ab_form.text_field :number, :value => @protocol.determine_allowed_bats(ab_form.object.species), :size=>2 %></td>
          <%= ab_form.text_field :species_id, :value => ab_form.object.species.id, :hidden => true %>
        </tr>
      <% end %>
    </table>
  </div>

  <p>
    Users on protocol:
  </p>
  <div class="left_indent">
    <%= render :partial => 'protocols/users_on_protocol_form', :locals =>{:protocol => @protocol, :users => User.current} %>
  </div>


  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>