<table style="margin-right:auto; margin-left:auto;">
  <% form_tag :action => 'create_mult_prots_mult_bats', :act => act do -%>
    <th>Select From:</th>
    <th>Bats:</th>
    <th>Protocols:</th>

    <tr>
      <td style="vertical-align:top;text-align: center;">
        <div id="bat_list" style="border:1px solid gray;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
          <%= render :partial => 'bats_as_options', :locals => {:act => act,
            :cages => cages, :rooms => rooms, :protocols => protocols, :species=> species} %>
        </div>
      </td>
      <td style="vertical-align:top">
        <% if bats.length > 0 %>
          <% max_bat_band_length = bats.collect{|b| b.band.length}.max > 7 ? bats.collect{|b| b.band.length}.max : 7 %>
        <% else %>
          <% max_bat_band_length = 7 %>
        <% end %>
        <div id="bat_list" style="border:1px solid gray;padding-left: 5px;padding-right: 5px;width:<%= max_bat_band_length + 6 %>ex">
          <%= render :partial => 'bat_checkbox_list', :locals => {:bats => bats} %>
        </div>
      </td>
      <td style="vertical-align:top">
        <div style="border:1px solid gray;padding-left: 10px;padding-right: 5px;padding-top: 5px" >
          <div style="width:750px; margin-right:auto; margin-left:auto;text-align:center">
            <p><%= submit_tag act.capitalize.concat(" bats") %></p>
          </div>

          <%= render :partial => 'choose_protocols',
            :locals => {:protocols => Protocol.current, :bat => nil} %>

          <div style="width:750px; margin-right:auto; margin-left:auto;text-align:center">
            <p><%= submit_tag act.capitalize.concat(" bats") %></p>
          </div>
        </div>
      </td>
    </tr>
  <% end -%>
</table>