<%#
# Lists the attributes of protocols
%>


<table>
  <tr>
    <% if selecting %>
      <th></th>
    <% end  %>
    <th>Number</th>
    <th>Title</th>
    <th>Summary</th>
    <th>Bats</th>
    <th>Surgeries</th>
    <th>End date</th>
  </tr>

  <% protocols.each do |protocol| %>
    <tr style="text-align:center;vertical-align:top;">
      <% if selecting %>
        <td style="text-align:right">
          <%= check_box :protocol_id, protocol.id,
            :checked => user ? user.protocols.include?(protocol) : (bat && bat.protocols.include?(protocol)) %>
        </td>
      <% end %>
      <td><%= link_to protocol.number, protocol %></td>
      <td style="text-align:left;width:250px"><b><label for='protocol_id_<%=protocol.id %>' >
            <span title='Bats: <% for b in protocol.bats %>&#13; <%=b.band%><% end %>'>
              <%=h protocol.title %></span></label></b></td>
      <td style="text-align: left;width:250px"><label for='protocol_id_<%=protocol.id %>' ><%=h simple_format protocol.summary %></label></td>
      <td>
        <%= render :partial => 'protocols/protocol_table_allowed_current_bats',
          :locals =>{:protocol => protocol} %>
      </td>
      <td>
        <% if protocol.surgery_types.empty? %>
          NA
        <% else %>
          <% for s in protocol.surgery_types %>
            <%= s.name %><br />
          <% end %>
        <% end %>
      </td>
      <td><label for='protocol_id_<%=protocol.id %>' ><%=nice_date_no_day protocol.end_date %></label></td>
      <% unless selecting%>
        <td><%= button_to 'Edit', edit_protocol_path(protocol), {:method => :get} %></td>
      <% end %>
    </tr>
  <% end %>
</table>