<h3>Showing Protocol</h3>

<%= button_to 'Edit', edit_protocol_path(@protocol), :method => :get %> |
<%= button_to 'Add bats to protocol', :action => :update_mult_bats, :act => 'add' %> |
<%= button_to 'Remove bats from protocol', :action => :update_mult_bats, :act => 'remove' %> |
<%= button_to 'Add/remove users from protocol', :action => :edit_users_on_protocol, :id => @protocol %> |
<%= link_to 'List Protocols', protocols_path %>

<hr />

<p>
  <b>Title:</b>
  <%=h @protocol.title %>
</p>

<p>
  <b>Number:</b>
  <%=h @protocol.number %>
</p>

<p>
  <b>Summary:</b>
  <%=h simple_format @protocol.summary %>
</p>

<p>
  <b>Start date:</b>
  <%=h @protocol.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @protocol.end_date %>
</p>

<p>
  <b>Exempt from flight:</b>
  <%=h @protocol.flight_exempt.to_s.capitalize %>
</p>

<p>
  <b>Allowed Bats:</b>
  <% if @protocol.allowed_bats.length == 0 %>
    No allowed bats
  <% else %>
    <% for ab in @protocol.allowed_bats %>
      <br><%= ab.species.name %>
      <%= ab.number %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Users:</b>
  <% if @protocol.users.length == 0 %>
    No users on protocol
  <% else %>
    <% for u in @protocol.users %>
      <br><%= u.name %>
    <% end %>
  <% end %>
</p>

<p>
  <%= render :partial => 'curr_bats_on_protocol', :locals => {:protocol => @protocol} %>
</p>

<p>
  <b>Past bats:</b>
<table>
  <% for hist in @hists %>
    <tr>
      <td><%= link_to hist.bat.band, :controller => :bats, :action => :edit, :id => hist.bat %></td>
      <td>Removed on: <%= nice_date hist.date_removed %></td>
    </tr>
  <% end %>
</table>
</p>

<p>
  <%= render :partial => 'form_to_show_bats_on_protocol_when', :locals =>{:protocol=>@protocol} %>
</p>

<p>
  <%= render :partial => 'form_to_show_bats_added_removed_to_protocol_when', :locals =>{:protocol=>@protocol} %>
</p>