<h3>Showing Protocol</h3>

<%= link_to 'List Protocols', protocols_path %> |
<%= button_to 'Edit', edit_protocol_path(@protocol), :method => :get %> |
<%= button_to 'Add bats to protocol', :action => :update_mult_bats, :act => 'add' %> |
<%= button_to 'Remove bats from protocol', :action => :update_mult_bats, :act => 'remove' %> |
<%= button_to 'Add/remove users from protocol', :action => :edit_users_on_protocol, :id => @protocol %>

<hr />

<p>
  <b>Title:</b>
  <%=h @protocol.title %>
  |
  <b>Number:</b>
  <%=h @protocol.number %>
</p>

<p>
  <b>Start date:</b>
  <%=h @protocol.start_date %>
  |
  <b>End date:</b>
  <%=h @protocol.end_date %>
</p>

<p>
  <b>Summary:</b>
  <%=h simple_format @protocol.summary %>
</p>

<p>
  <b>Users:</b>
  <% if @protocol.users.length == 0 %>
    No users on protocol
  <% else %>
    <% for u in @protocol.users %>
      <br><%= u.name %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Data Collected:</b>
  <% for datum in @protocol.data %>
    <br /><%=h datum.name %>
  <% end %>
</p>

<p>
  <b>Surgeries Associated with Protocol:</b>
  <% for sg_t in @protocol.surgery_types %>
    <br /><%=h sg_t.name %>
  <% end %>
</p>

<% if !@protocol.surgery_types.empty? %>
  <p>
    <b>Surgeries Performed on Protocol:</b>
    <% if @protocol.surgeries.empty? %>
      No surgeries performed.
    <% else %>
    <table>
      <th style="font-size: 10pt">Type</th>
      <th style="font-size: 10pt">Bat</th>
      <th style="font-size: 10pt">Time</th>
      <th style="font-size: 10pt">User</th>
      <% for sg in @protocol.surgeries %>
        <tr>
          <td><%=h sg.surgery_type.name %></td>
          <td><%= link_to sg.bat.band, :controller => :bats, :action => :show, :id => sg.bat %></td>
          <td><%= nice_date_with_time sg.time %></td>
          <td><%= link_to sg.user.initials, :controller=>:users, :action=>:show, :id=>sg.user %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  </p>
<% end %>

<p>
  <b>Allowed Bats:</b>
  <% if @protocol.allowed_bats.length == 0 %>
    No allowed bats
  <% else %>
    <%= render :partial => 'protocols/protocol_table_allowed_current_bats',
      :locals =>{:protocol => @protocol} %>
<% end %>
</p>

<p>
  <%= render :partial => 'curr_bats_on_protocol', :locals => {:protocol => @protocol} %>
</p>

<p>
  <b>Past bats:</b>
<table>
  <% for bat in @past_bats %>
    <tr>
      <td><%= link_to bat.band, :controller => :bats, :action => :edit, :id => bat %></td>
      <td>
        Removed on: <%= (bat.protocol_histories.removed.length > 0) ? nice_date(bat.protocol_histories.removed[0].date) : "" %>
      </td>
    </tr>
  <% end %>
</table>
</p>

<p>
  <%= render :partial => 'form_to_show_bats_on_protocol_when', :locals =>{:protocol=>@protocol} %>
</p>

<p>
  <%= render :partial => 'form_to_show_bats_added_removed_to_protocol_when', :locals =>{:protocol=>@protocol} %>
</p>