<h1>New training</h1>

<%= error_messages_for :training %>

<% form_for(@training) do |f| %>
  <p>
    <b>Training type</b><br />
    <%= select("training", "training_type_id", TrainingType.find(:all).collect {|tt| [tt.name, tt.id]}) %>
		Or <%= link_to 'Create a New Training Type', :controller => :training_types, :action => :new %>
  </p>

	<div id='description'>
		<%= render :partial => 'training_types/remote_display_description', :locals => {:training_type => TrainingType.find(:all).first} %>
	</div>
	
	<%= observe_field 'training_training_type_id',
    :url => {:controller => :training_types, :action => :remote_display_description},
    :with => 'training_type_id',
    :frequency => 0.25,
		:update => "description" %>
	
  <p>
    <b>User</b><br />
    <%= select("training", "user_id", User.current.collect {|u| [u.name, u.id]}, {:selected => @selected_user}) %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <b>User trained by</b><br />
    <%= select_tag("training[user_trained_by_id]", options_from_collection_for_select(User.current, "id", "name")) %>
  </p>

  <p>
    <b>Note</b><br />
    <%= f.text_area :note, :rows => 2 %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
