<h1>New training</h1>

<%= error_messages_for :training %>

<% form_for(@training) do |f| %>
  <p>
    <b>Training type</b><br />
    <%= select("training", "training_type_id", TrainingType.find(:all).collect {|tt| [tt.name, tt.id]}) %>
  </p>
	
	<warning>
		1. Show training type description as you select different training types<br />
	  2. Allow user to create a new training type without going to the other page (ajax)
	</warning>
	
	<p>
  <%= link_to 'Create a New Training Type', :controller => :training_types, :action => :new %>
	</p>

  <p>
    <b>User</b><br />
    <%= select("training", "user_id", User.current.collect {|u| [u.name, u.id]}, {:selected => @selected_user}) %>
  </p>

  <p>
    <b>Date</b><br />
    <%= f.date_select :date %>
  </p>

  <p>
    <b>User trained by</b><br />
    <%= select_tag("training[user_trained_by_id]", options_from_collection_for_select(User.current, "id", "name")) %>
  </p>

  <p>
    <b>Note</b><br />
    <%= f.text_area :note, :rows => 2 %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', trainings_path %>
