<%#
# checkboxes for protocols on user
%>

<div class="centered">
  <table>
    <th></th>
    <th>Title</th>
    <th>Number</th>
    <th>End Date</th>
    <th>Flight exempt</th>
  <% for p in protocols %>
    <tr>
      <td><%= check_box :protocol_id, p.id, :checked => user.protocols.include?(p)  %></td>
      <td><label for='protocol_id_<%=p.id %>' ><%= p.title %></label></td>
      <td><label for='protocol_id_<%=p.id %>' ><%= p.number %></label></td>
      <td><label for='protocol_id_<%=p.id %>' ><%= nice_date p.end_date %></label></td>
      <td><label for='protocol_id_<%=p.id %>' ><%= p.flight_exempt %></label></td>
    </tr>
  <% end %>
  </table>
</div>
