<h1>Listing protocols</h1>

<% if @protocols.length == 0 %>

<p>No Protocols.</p>

<% else %>

<p>
<table>
  <tr>
    <th>Title</th>
    <th>Number</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Husbandry</th>
	<th>Flight Exempt</th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>
    <td><b><%=link_to protocol.title, protocol %></b></td>
    <td><%=h protocol.number %></td>
    <td><%=h protocol.start_date %></td>
    <td><%=h protocol.end_date %></td>
    <td><%=h protocol.husbandry.to_s.capitalize %></td>
	<td><%=h protocol.flight_exempt.to_s.capitalize %></td>
    <td><%= button_to 'Edit', edit_protocol_path(protocol), {:method => :get} %></td>
    </tr>
<% end %>
</table>
</p>

<% end %>

<br />

<%= link_to 'New protocol', new_protocol_path %>