<script> 
  function toggleAll(name)
{
  boxes = document.getElementsByClassName(name);
  for (i = 0; i < boxes.length; i++)
    if (!boxes[i].disabled)
   		{	boxes[i].checked = !boxes[i].checked ; }
}

function setAll(name,state)
{
  boxes = document.getElementsByClassName(name);
  for (i = 0; i < boxes.length; i++)
    if (!boxes[i].disabled)
   		{	boxes[i].checked = state ; }
}
</script> 





<div style="margin-right:auto; margin-left:auto; text-align:center; width:650px">

<% if @act.include?('remove') %>
<h2 style="color:red">Remove Multiple Bats from Protocols</h2>
<% else %>
<h2 style="color:blue">Add Multiple Bats to Protocols</h2>
<% end %>


<%= link_to_remote "My Bats", :url => {:action => :change_bat_list, :bats => User.find(session[:person]).bats}, :update => "bat_list" %> | 

<%= link_to_remote "Current Bats", :url => {:action => :change_bat_list, :bats => Bat.active}, :update => "bat_list" %> | 

<%= link_to_remote "Deactivated Bats", :url => {:action => :change_bat_list, :bats => Bat.not_active}, :update => "bat_list" %> | 

<%= link_to_remote "All Bats", :url => {:action => :change_bat_list, :bats => Bat.find(:all)}, :update => "bat_list" %><p>

<%= collection_select("cage","id", @cages, "id", "name", {:prompt => 'Bats in Cage'}, {:onchange => remote_function(:update => "bat_list", :url => {:action => :change_bat_list} ,:with => 'Form.Element.serialize(this)' ) } ) %>

<%= collection_select("room","id", @rooms, "id", "name", {:prompt => 'Bats in Room'}, {:onchange => remote_function(:update => "bat_list", :url => {:action => :change_bat_list} ,:with => 'Form.Element.serialize(this)' ) } ) %>

<%= collection_select("protocol","id", @protocols, "id", "title", {:prompt => 'Bats on Protocol'}, {:onchange => remote_function(:update => "bat_list", :url => {:action => :change_bat_list} ,:with => 'Form.Element.serialize(this)' ) } ) %>

</div>

<p>
<table style="margin-right:auto; margin-left:auto;">
<% form_tag :action => 'create_mult_prots_mult_bats', :act => @act, :id => 'my_form' do -%>
<tr><td>
	<div id="bat_list" style="border:1px solid gray; width:150px;">
	<%= render :partial => 'bat_checkbox_list', :locals => {:bats => @bats} %>
	</div>
</td>
<td style="vertical-align:top">
	<div style="border:1px solid gray; width:600px; text">
	<h3 style="text-align:center">Protocols</h3>
	<%= render :partial => 'choose_protocols', :locals => {:protocols => @protocols, :bat => @bats[0]} %>

	<div style="width:400px; margin-right:auto; margin-left:auto;text-align:center">
	<p><%= submit_tag @act.capitalize.concat(" bats") %></p>
	</div>
	</div>
</td>	
</tr>
<% end -%>
</p>



</div>